/* IMPORTS */
@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=Poppins:wght@300;400;500;600&display=swap');

/* DEFAULTS */
:root {
    --clr-primary: #11ce3e;
    --clr-secondary: ;
    --clr-bg: #010e1b;
    --clr-fg: #dee2e6;

    --txt-primary: 'Poppins', sans-serif;
    --txt-secondary: 'Open Sans', sans-serif;

    --transition: all .25s;
}

*,
*::before,
*::after {
    margin: 0;
}

::selection {
    background: var(--clr-primary);
    color: var(--clr-bg);
    /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: var(--clr-primary);
    color: var(--clr-bg);
    /* Gecko Browsers */
}

html {
  scroll-behavior: smooth;
}

body {
    background-color: var(--clr-bg);
    color: var(--clr-fg);
    font-family: var(--txt-secondary);

    background-image: url('./assets/layered-steps-haikei.svg');
    background-size: contain;
    background-repeat: no-repeat;

    font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--txt-primary);
}

a {
    color: var(--clr-fg);
    text-decoration: none;
}

.text-important {
    color: var(--clr-primary);
}

.btn {
    border: 2px solid var(--clr-primary);
    padding: 10px 15px;

    font-family: var(--txt-primary);
    font-weight: lighter;
    font-size: 15px;

    transition: var(--transition);
}

.btn:hover {
    background-color: var(--clr-primary);
    color: var(--clr-bg);
}

/* CONTENT */
.main-container {
    padding: 2em 10%;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;

    margin-bottom: 2em;
}

header>ul,
header>nav>ul {
    display: flex;
    flex-direction: row;
    gap: 20px;

    list-style: none;
    padding: 0;

    font-family: var(--txt-primary);
    font-size: 18px;
}

header > nav {
    z-index: 99;
}

.hamburger {
    position: relative;
    display: block;
    width: 35px;
    cursor: pointer;

    appearance: none;
    background: none;
    outline: none;
    border: none;
}

.hamburger .bar, .hamburger::after, .hamburger::before {
    content: '';
    display: block;
    width: 110%;
    height: 4px;
    background-color: #fff;
    margin: 6px 0;
    transition: var(--transition);
}

.hamburger.is-active::before {
    transform: rotate(-45deg) translate(-8px, 7px);
}

.hamburger.is-active::after {
    transform: rotate(45deg) translate(-7px, -7px);
}

.hamburger.is-active .bar {
    opacity: 0;
}

.mobile-nav {
    display: block;
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    min-height: 30vh;
    z-index: 98;
    background-color: #031526;
    box-shadow: 0 5px 5px 1px #02111ea5;
    padding: 2em 0;

    transition: var(--transition);
}

.mobile-nav.is-active {
    top: 0;
}

.mobile-nav > a {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    text-align: center;
    padding: 12px 0;

    color: var(--clr-fg);
}

.mobile-nav > a:not(:last-child) {
    border-bottom: 1px solid #143455;
}

@media only screen and (min-width: 768px) {
    .mobile-nav {
        display: none;
    }

    .hamburger {
        display: none;
    }
}

/* MAIN */
main {
    margin: 5em 0;
}

/* ABOUT */
.about {
    margin: 2em 0;
}

.about>*:not(:first-child):not(:last-child) {
    margin: 1rem 0;
}

.about-title {
    margin-bottom: 2rem;
    font-size: 48pt;
}

.about-desc {
    font-size: 17px;
    font-weight: lighter;
    max-width: 35rem;
}

.about-btn {
    margin: 3rem 0;
}

.about-btn>*:not(:last-child) {
    margin-right: 10px;
}

/* PROJECTS */
.projects {
    margin-top: 6em;
}

.projects-title {
    text-align: center;
}
/* CARD */
.cards {
    display: flex;
    flex-direction: column;
}

.card:nth-child(odd) {
    justify-content: left;
}

.card:nth-child(even) {
    justify-content: right;
}

.card-img {
    width: 600px;
    height: 337px;
    image-rendering: optimizeQuality;
    object-fit: cover;
}

@media only screen and (max-width: 768px) {
    body {
        background-image: none;
    }
    
    .desktop-nav {
        display: none;
    }

    .card-img {
        max-width: 320px;
    }
}